body {
    margin: 20px 0;
    background: #d90429;
    font-family: "Pacifico", cursive;
    color: #edf2f4;
}

h1,
.container-clock,
.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    border: 4px #edf2f4 solid;
    border-radius: 50%;
}

.container-clock h4 {
    margin: 0 20px;
}

button {
    margin: 0 100px;
    border: none;
    outline: none;
    background-color: transparent;
}

i {
    color: #edf2f4;
    font-size: 50px;
}

.btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 650px;
    border: 2px #edf2f4 solid;
    border-radius: 10%;
    margin-top: 30px;
}

.dbtn {
    display: none;
}

.test-break {
    background-color: #2b2d42;
    color: #edf2f4;
    font-size: 35px;
}